only-built-dependencies[]=@apollo/protobufjs
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=@scarf/scarf
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
